<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/products">Products <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/offres">Offres</a>   <!-- f blast routerLink(f nfs l page taatik lhaja l thb aalha) kont hata href(trediriger vers une autre page(onglet)) / w bdltha khtr maadch nhb l page trefrechi k nnzl aal haja-->
        </li>
        <li>
          <a class="nav-link" routerLink="/addProduct">addproduct</a>

        </li>

      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">

      </form>
    </div>
  </nav>
