<h1>{{title}}</h1>


<div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">$</span>
     </div>
    <input type="number" name ="price" [(ngModel)]="priceMax" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
  </div>




    <div class="row">
    <div class="col-md-4" style="width: 18rem;" *ngFor="let p of listProduct, let i=index" >
        <div *ngIf="p.price<priceMax || priceMax==null" >
        <img src="..\..\assets\P1T026-2-PLAYCDGBIGREDHEARTPRINTANDEMBLEMT-SHIRTWHITE1_da46741c-319a-48bb-9d43-848c1cb9c6c8_grande.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{p.title}}</h5>
          <p class="card-text">id={{p.id}}</p>
          <p class="card-text">price={{p.price}}</p>
          <p class="card-text">quantity={{p.quantity}}</p>
          <p class="card-text">like={{p.like}}</p>
          <button class="btn btn-primary" (click)="buy(i)" [disabled]="p.quantity==0">Buy</button>
          <button class="btn btn-primary" (click)="like(i)">Like</button>
          
          <button class="btn btn-info" [routerLink]="['/product',p.id]" >Details</button>
          
        </div>
      </div>
    </div>
</div>



    <br>
<!-- html
      <div *ngFor="let p of listProduct;" >
<table>
    <tr>
        <td>
            ID ={{p.id}}
        </td>
        <td>
            title={{p.title}}
        </td>
        <td>
            price={{p.price}}
        </td>
        <td>
            quantity={{p.quantity}}
        </td>
        <td>
            like={{p.like}}
        </td>
       


    </tr>
</table>

</div>
--> 